/* css for my parents website */
.navigation {
    /* creates layout for flex context*/
     display: flex;
     /* defining direction and wrap simply the same as
     flex-direction: row;
     flex wrap : wrap;
    */
     flex-flow: row wrap;

    /* spacing*/
    justify-content: space-around;
    padding:10px;
    margin: 0;
    list-style: none;
    overflow: hidden;
    /* controls the color of the header bar*/
    background: rgb(56, 62, 66);
}
.navigation a{
    display: block;
    /* controls the color of the Hyper link words*/
    color: rgb(168, 76, 214);
    padding:1em;
    overflow:hidden;

}
.navigation a :hover{
    color: whitesmoke;
}
.navigation #myLinks{
    display: none;
}
.navigation a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .active {
    background-color: #04AA6D;
    color: white;
  }
